<app-home></app-home>

<form [formGroup]="reservationForm" (ngSubmit)="onSubmit()">
    <div class="form-floating mb-3">
        <input type="date" class="form-control" formControlName="checkInDate">
        <label>Check-in</label>
        <small class="text-danger" *ngIf="reservationForm.get('checkInDate')?.invalid && reservationForm.get('checkInDate')?.touched">
            Check-in is required
        </small>
    </div>
    <div class="form-floating mb-3">
        <input type="date" class="form-control" formControlName="checkOutDate">
        <label>Check-out</label>
        <small class="text-danger" *ngIf="reservationForm.get('checkOutDate')?.invalid && reservationForm.get('checkOutDate')?.touched">
            Check-out is required
        </small>
    </div>
    <div class="form-floating mb-3">
        <input type="text" class="form-control" formControlName="guestName">
        <label>Name</label>
        <small class="text-danger" *ngIf="reservationForm.get('guestName')?.invalid && reservationForm.get('guestName')?.touched">
            Name is required
        </small>
    </div>
    <div class="form-floating mb-3">
        <input type="email" class="form-control" formControlName="guestEmail">
        <label>Email</label>
        <small class="text-danger" *ngIf="reservationForm.get('guestEmail')?.invalid && reservationForm.get('guestEmail')?.touched">
            Email is required
        </small>
    </div>
    <div class="form-floating mb-3">
        <input type="number" class="form-control" formControlName="roomNumber">
        <label>Room number</label>
        <small class="text-danger" *ngIf="reservationForm.get('roomNumber')?.invalid && reservationForm.get('roomNumber')?.touched">
            Room number is required
        </small>
    </div>
    <div class="text-center">
        <button type="submit" class="btn btn-success" [disabled]="reservationForm.invalid">
            Submit
        </button>
    </div>
</form>